<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018131753731-ntatkql4sro8jfvcvboab71up8ovq37o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018131753731-ntatkql4sro8jfvcvboab71up8ovq37o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1018131753731-4vf7j0uhe4lv0sqi53cp24escllvlc91.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuclnUxWGEIRR3O1w66-MogELN3gpR74s</string>
	<key>GCM_SENDER_ID</key>
	<string>1018131753731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindiii.Go-Delivery</string>
	<key>PROJECT_ID</key>
	<string>godeleveryplus</string>
	<key>STORAGE_BUCKET</key>
	<string>godeleveryplus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018131753731:ios:d48b1845d2ada3b5935736</string>
	<key>DATABASE_URL</key>
	<string>https://godeleveryplus.firebaseio.com</string>
</dict>
</plist>